<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>View Job</title>
</head>
<body>
    <div class="header">
        <h2>Hello {{ current_user.first_name }}! These are the job details!</h2>
        <div class="links">
            <a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a>
        </div>
    </div>
    <div>
        <h3>{{current_job.title}}</h3>
        <div>
            <p>{{current_job.description}}</p>
            <p>Location: {{current_job.location}}</p>
            <p>Posted by: {{current_job.created_by_user.first_name}}</p>
            <p>Posted on: {{current_job.created_at}}</p>
            <p>Categories:
                {% if category_empty %}
                None
                {% endif %}
                {% if not category_empty %}
                <ul>
                    {% for category in current_job.categories.all %}
                    <li>{{category.category}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </p>
        </div>
        {% if current_job in current_user.created_jobs.all %}
        <a href="/jobs/{{current_job.id}}/edit" class="button">Edit job</a>
        {% endif %}
        {% if current_job in current_user_added_jobs %}
        <a href="/jobs/{{current_job.id}}/remove-from-user" class="button">Give Up</a>
        {% endif %}
        {% if current_job in all_jobs %}
        <a href="/jobs/{{current_job.id}}/add-to-user" class="button">Add to my jobs</a>
        {% endif %}
    </div>
</body>
</html>